@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    font-family: 'M PLUS 1p', sans-serif;
    background-color: #CAF0F8;
}

.test
{
    background-color: #023E8A;
}



