@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    font-family: 'M PLUS 1p', sans-serif;
}


.button-clicked-light
{
    background-color: #c55907;
}

.button-clicked-dark
{
    background-color: #c55907;
}

.switcher-bg
{
    animation-duration: 4s;
}

#light
{
    display: flex;
    position: relative;
}

#dark
{
    display: flex;
    position: relative;
}

#div-dark
{
    position: absolute;
    left: 0;
    background-color: #0BB744;
}

#div-light
{
    position: absolute;
    left: 18px;
    background-color: #FF7900;
}

[data-id="nav-dark"] {
    background-color: black;
}




